#fixture-mount iframe{border:1px solid #52645c;display:block;background:white;max-width:none}#fixture-mount{overflow:auto;max-height:650px;margin-top:28px}progress{width:100%;height:18px}#record{max-height:500px;overflow:auto;font-size:11px}

#fixture-mount{position:relative;left:auto;top:auto;width:100%;height:auto;max-width:100%;z-index:auto}
